@model Rinsen.InnovationBoost.Models.LoginModel

<div class="container">
    <div class="row">
        <h1>Login</h1>
        <hr />
        @if (User.Identity.IsAuthenticated)
        {
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Login", "Identity"))
                    {
                        <div class="form-horizontal @(Model.InvalidEmailOrPassword ? "has-error" : "")">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model.InvalidEmailOrPassword)
                            {
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <span class="help-block">Email or password is incorrect</span>
                                </div>
                            }
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default">Sign in</button>

                            </div>
                            <div class="col-md-7">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.RememberMe) Remember me
                                    </label>
                                </div>

                            </div>
                        </div>
                        @Html.HiddenFor(m => m.ReturnUrl)
                    }
                </div>
            </div>


        }
        </div>
    </div>