@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@using Rinsen.InnovationBoost.Extensions;

@inject IWebHostEnvironment HostingEnvironment
<!DOCTYPE html>
@*https://getbootstrap.com/docs/4.4/examples/dashboard/#*@

<html @{if (!string.IsNullOrEmpty(ViewBag.NgAppName)) { <text> ng-app="@ViewBag.NgAppName" </text>  } }>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (HostingEnvironment.IsDevelopment())
    {
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/isteven-multi-select.css" rel="stylesheet" />
        <link href="~/css/toastr.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/isteven-multi-select.css" rel="stylesheet" />
        <link href="~/css/toastr.min.css" rel="stylesheet" />
    }
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <style>
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Rinsen</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a asp-area="" asp-controller="Identity" asp-action="Logout" class="nav-link">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        @if (User.HasClaim(c => c.Type == Rinsen.IdentityProvider.RinsenClaimTypes.Administrator && c.Value == "True"))
                        {
                            @Html.MenuItem("house", "Dashboard")
                            @Html.MenuItem("file-earmark-text", "Logger")
                            @Html.MenuItem("person", "Identities")
                            @Html.MenuItem("app", "Clients", "IdentityServer", "Clients")
                            @Html.MenuItem("archive", "Api Resources", "IdentityServer", "ApiResources")
                            @Html.MenuItem("person-bounding-box", "Identity Resources", "IdentityServer", "IdentityResources")
                        }
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            @RenderBody()
        </main>
    </div>
    @if (HostingEnvironment.IsDevelopment())
    {
        <script src="~/js/jquery.js" asp-append-version="true"></script>
        <script src="~/js/angular.js" asp-append-version="true"></script>
        <script src="~/js/angular-sanitize.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/isteven-multi-select.js" asp-append-version="true"></script>
        <script src="~/js/smart-table.js" asp-append-version="true"></script>
        <script src="~/js/toastr.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/angular.min.js" asp-append-version="true"></script>
        <script src="~/js/angular-sanitize.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/isteven-multi-select.min.js" asp-append-version="true"></script>
        <script src="~/js/smart-table.min.js" asp-append-version="true"></script>
        <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    }
    @RenderSection("Scripts", false)
</body>
</html>